/*COLORES 🖍️*/
$color_principal: #604cff;
$color_principal-hover: #8325fd;
$color_secundario: #5be9b9;
$color_secundario-hover: #80e6c4;
$color_negro: #171717;
$color_blanco: #ffffff;
$color_gris: #c9c9c9;

/*TIPOGRAFIAS*/
$h1-desktop: 3.75rem;
$h1-movil: 0.18rem;
$h2-desktop: 2.18rem;
$h2-movil: 1.56rem;